body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* #region reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
button {
  padding: 0;
  background-color: none;
  cursor: pointer;
}
address {
  font-style: normal;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region Common */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* #endregion */

/* #region Header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.contacts {
  margin-left: auto;
}
/* #endregion */

/* #region logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.header-logo .logo-part {
  color: #4d5ae5;
}
.footer-logo {
  color: #f4f4fd;
  display: block;
}
.footer-logo .logo-part {
  color: #4d5ae5;
}
/* #endregion */

/* #region Navigation */
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Contacts */

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* #endregion */

/* #region Hero */
.hero {
  background: #2e2f42;
  padding: 118px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-bottom: 48px;
  width: 496px;
  margin: auto;
}
.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
/* #endregion */

/* #region Features */
.features-section {
  padding: 120px;
}
.features-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.features-item {
  width: calc((100% - 24px * 3) / 4);
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Team */
.team-section {
  background: #f4f4fd;
  padding: 120px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.team-card-wrap {
  padding: 32px 16px;
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 8px;
}
.team-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
/* #endregion */

/* #region Portfolio */
.portfolio-section {
  padding: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  padding-bottom: 72px;
}
.portfolio-list {
  display: flex;
  align-items: center;
  gap: 48px 24px;
  flex-wrap: wrap;
}
.portfolio-wrapper {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-item {
  width: calc((100% - 24px * 2) / 3);
}
.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 8px;
}
.portfolio-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
/* #endregion */

/* #region Footer */
.page-footer {
  padding: 100px;
}
.footer-wrapper {
  width: 264px;
}
.page-footer {
  background: #2e2f42;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding-top: 16px;
}

/* #endregion */
